/*.App {*/
/*  padding: 30px;*/
/*  display: flex;*/
/*  background-color: aquamarine;*/
/*  height: 100vh;*/

/*}*/

/*.App > div {*/
/*  margin-right: 50px;*/
/*}*/

.todolist {
  border: 2px solid grey;
  background-color: beige;
  border-radius: 10px;
  padding: 15px;
  height: max-content;
}

.task {
  font-weight: bold;
}

.task-done {
  text-decoration: line-through;
  opacity: 0.5;
}

.btn-active {
  background-color: chocolate;
}
.input-error {
  border: 2px solid red;
  outline: none;
}

